<div class="intro">
    <h1><%= cidade.city %></h1>
</div>
<div class="points-container">
    <h3>Pontos de Vacinação Contra Covid-19:</h3>
    <% cidade.pontos.forEach(ponto => { %>
        <div class="points-item">
            <strong>Endereço: </strong>
            <%= ponto.endereco %>, <%= ponto.numero %> - <%= ponto.bairro %>
            <br>
            <strong>CNPJ: </strong>
            <%= ponto.cnpj %>
            <br>
            <strong>E-Mail:</strong>
            <%= ponto.email %>
            <br>
            <strong>Horários:</strong>
            <br>
            Abertura: <%= ponto.abertura %>
            <br>
            Fechamento: <%= ponto.fechamento %>
            <br>
            <strong>Vacinas oferecidas: </strong>
            <% ponto.vacinas.forEach(vacina => { %>
            <br>
             <%= vacina.nome %>
            <% }) %>
        </div>
    <% }) %>
</div>